body {
    font-family: Arial, Helvetica, sans-serif;
}

.non {
    border: 1px solid gray;
    padding: 9px;
}

.contain {
    border: 3px solid black;
    width: 18%;
    padding: 15px;
    position: absolute;
    margin: 3px;
}

.contain:hover {
    color: rgb(38, 211, 211);
    border: 3px solid rgb(38, 211, 211);
}

.container {
    border: 3px solid black;
    width: 50%;
    padding: 15px;
    margin: 10%;
    margin: 3px 18%;
    float: right;
}

.container:hover {
    color: rgb(38, 211, 211);
    border: 3px solid rgb(38, 211, 211);
}
.but {
    padding: 15px;
    float: right;
    width: 4%;
    margin: -54px 14%;
    background: rgb(10, 100, 173);
    color: white;
    border: 2px solid rgb(10, 100, 173);
    font-size: 15px;
   
    cursor: pointer;
}

.but:hover {
    background: black;
    border: 2px solid black;
}

.login {
    font-weight: 600;
    font-size: 17px;
    float: right;
    margin: -38px 8%;
    color: blue;
    font-family: sans-serif;
}

.butto {
    font-weight: 600;
    margin: -52px 0%;
    color: white;
    float: right;
    font-size: 15px;
    padding: 12px;
    background: rgb(10, 100, 173);
    border: 2px solid rgb(10, 100, 173);
    cursor: pointer;

}

.butto:hover {
    background: grey;
    border: 2px solid grey;
}

.valu {
    color: black;
    font-family: Arial;
    font-weight: 700;
    border: none;
    margin: 8px;
}

.li1 {
    font-size: small;
    border-collapse: collapse;
}

a {
    color: grey;
}

a:hover {
    color: black;
}

.img1 {
    float: center;
    margin: 40px 190px;
    width: 70%;
}

.tab3 {
    margin: 1px 8px;
    position: relative;
    border: 1px solid gray;
    padding: 9px;
    width: 820px;
}

.imag1 {
    margin: 0px 5%;
    background: fixed;
}

.pop {
    position: absolute;
    margin: 6px;
    left: 43px;
    background-color: yellow;
    color: black;
    width: 8%;
}

.noth {
    padding: 9px;
    width: 460px;
    height: 800px;
    float: right;
}

.noeth {
    border: 1px solid gray;
    margin: -2% 10px;
    padding: 9px;
    width: 430px;
    height: 200px;
    float: right;
}

.child {
    float: right;
    font-size: 30px;
    margin: -50px 0px;

}

.child :hover {
    color: rgb(15, 102, 202);
}

.pa1 {
    font-size: 18px;
    color: grey;
}

.pa2 {
    color: grey;
}

.pa3 {
    margin: -34px 0px;
    float: right;
    color: grey;
}

.noith {
    border: 1px solid gray;
    margin: 6% 10px;
    padding: 9px;
    width: 430px;
    height: 250px;
    float: right;
}

.p4 {
    margin: -0px;
    font-size: 26px;
}

.p5 {
    margin: -55px 120px;

}

.p3 {
    font-weight: 600;
    margin: 95px 50px;
    color: white;
    width: 85%;
    font-size: 15px;
    height: 25%;
    background: rgb(10, 100, 173);
    border: 2px solid rgb(10, 100, 173);
    cursor: pointer;
}

.wonder {
    margin: -18% 25%;
}

.num1 {
    color: blue
}

.nooth {
    border: 1px solid gray;
    margin: -2% 10px;
    padding: 9px;
    width: 430px;
    height: 250px;
    float: right;
}

.a1 {
    color: grey;
}

.a2 {
    margin: 2px 25px;
    border: 2px solid black;
}

.a3 {
    float: right;
    margin: -35px 30px;
    font-size: 14px;
    color: blue;
}

.b2 {
    border: 1px solid gray;
    width: 840px;
    height: 610px;
    margin: 13px 8px;
    ;
}

.e1 {
    margin: 0px 4px;
    width: 100%;
}

td,
th {
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

.t1 {
    color: grey;
}

.t3 {
    color: grey;
}

.c1 {
    margin: 12px 10px;
}

.c3 {
    margin: 6px 10px;
}

.c2 {
    font-family: Verdana;
    margin: 0px -50px;
    font-size: 14px;
    font-weight: 500;
}

.clu1 {
    border: 2px solid grey;
    padding: 9px;
    width: 1310px;
    height: 170px;
    background-color: lightgrey;
}

.clu1 :hover {
    color: black;
}

.sub1 {
    margin: 2px 4px;
    width: 100%;
}

td,
th {
    font-size: 13px;
    text-align: left;
    padding: 5px;
}

.clo1 {
    font-size: 140%;
    margin: 10px -10px;
    cursor: pointer;
}

.clo1 :hover {
    color: blueviolet;
}
.ap1 {
    width: 30px;
    position: absolute;
    margin: 70px 84%;
}

.l1 {
    border: 2px solid #002f34;
    padding: 9px;
    width: 1310px;
    height: 30px;
    background-color: #002f34;
}
.s1{
    margin: 7px;
  color: white;
}
.s2{
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin: -25px 140px;
}
.s2 :hover{
    color: white;
}
.s3{
    font-size: 14px;
   color: white;
   float: right;
}